<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Convert existing maven project to web </display-name>
  
  <context-param>
  	<param-name>org.apache.activemq.brokerURL</param-name>
  	<param-value>tcp://127.0.0.1:61616</param-value>
  </context-param>
  
  <!-- 嵌入式代理 -->
  <context-param>
  	<param-name>org.apache.activemq.embeddedBroker</param-name>
  	<param-value>false</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>AjaxServlet</servlet-name>
  	<servlet-class>org.apache.activemq.web.AjaxServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  	<async-supported>true</async-supported>
  </servlet>
  <!-- <servlet>
  	<servlet-name>MessageServlet</servlet-name>
  	<servlet-class>org.apache.activemq.web.MessageServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet> -->
  
  <servlet-mapping>
  	<servlet-name>AjaxServlet</servlet-name>
  	<url-pattern>/amq/*</url-pattern>
  </servlet-mapping>
  
  <!-- <filter>
  	<filter-name>session</filter-name>
  	<filter-class>org.apache.activemq.web.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>session</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping> -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>