<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.crabime.practice.mybatis.perf.TeacherMapper">

    <insert id="batchInsertTeacher" parameterType="java.util.List" useGeneratedKeys="false">
        insert into teacher(name, age, nature) values
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.age}, #{item.nature})
        </foreach>
    </insert>
</mapper>
